bucket         = "petclinic-terraform-state-ACCOUNT_ID"
key            = "petclinic/dev/terraform.tfstate"
region         = "us-east-1"
dynamodb_table = "petclinic-terraform-locks"
encrypt        = true
